---

- name: "Install zsh package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ zsh[ansible_facts['distribution']]['packages'] }}"

- name: "Change user shell to zsh"
  user:
    name: "{{ username }}"
    shell: /usr/bin/zsh
  become: true
