---
- block:
  # root

  - name: 'Install Docker'
    include_role:
      name: common/install
    vars:
      packages: "{{ docker[ansible_facts['distribution']]['packages'] }}"
      services: "{{ docker[ansible_facts['distribution']]['services'] }}"

  - name: 'Add users to docker group'
    user:
      name: '{{ username }}'
      groups: 'docker'
      append: 'yes'

  become: true
