---

- name: "Install wm-hyprland package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ wm_hyprland[ansible_facts['distribution']]['packages'] }}"
    conflicts: "{{ wm_hyprland[ansible_facts['distribution']]['conflicts'] }}"
