---

- block:
  # root install
  - name: Install packages
    package:
      name: "{{ packages }}"
      state: latest
    when: packages | default([]) | length > 0

  - name: Install AUR packages
    kewlfft.aur.aur:
      name: "{{ aur_packages }}"
    become_user: "{{ username }}"
    when: aur_packages | default([]) | length > 0

  - name: Install pip packages for root
    pip:
      name: "{{ item }}"
      virtualenv: /opt/virtual_envs/personal_env
      virtualenv_command: "{{ ansible_python_interpreter }} -m venv"
    with_items: "{{ pip_packages }}"
    when: pip_packages | default([]) | length > 0

  - name: Enable systemd services
    systemd:
      name: '{{ item }}'
      state: 'started'
      enabled: 'yes'
    with_items: "{{ services }}"
    when: services | default([]) | length > 0

  - name: Remove conflicting packages
    package:
      name: "{{ conflicts }}"
      state: absent
    when: conflicts | default([]) | length > 0

  become: true


- block:
  # user install
  - name: Install pip packages for user
    pip:
      name: "{{ item }}"
      virtualenv: /opt/virtual_envs/personal_env
      virtualenv_command: "{{ ansible_python_interpreter }} -m venv"
    with_items: "{{ pip_packages }}"
    when: pip_packages is defined and pip_packages
