---

- name: "Install base package group"
  include_role:
    name: common/install
  vars:
    pip_packages: "{{ base[ansible_facts['distribution']]['pip_packages'] }}"
    packages: "{{ base[ansible_facts['distribution']]['packages'] }}"
    services: "{{ base[ansible_facts['distribution']]['services'] }}"


- block:
  # root

  - name: "Updatedb"
    shell:
      cmd: updatedb

  become: true
