---

- name: "Install xorg package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ xorg[ansible_facts['distribution']]['packages'] }}"

- name: "Set locale to {{ lang }}"
  shell:
    cmd: "localectl set-locale LANG={{ lang }}"
  become: true
