---

- name: "Install login-lightdm package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ login_lightdm[ansible_facts['distribution']]['packages'] }}"

- name: 'Enable lightdm systemd service'
  systemd:
    name: 'lightdm'
    enabled: 'yes'
  become: true
