---

- name: "Install wm-xorg package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ wm_xorg[ansible_facts['distribution']]['packages'] }}"
    aur_packages: "{{ wm_xorg.aur_packages }}"
