---

- name: "Install wm-base package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ wm_base[ansible_facts['distribution']]['packages'] }}"
    aur_packages: "{{ wm_base.aur_packages }}"
    services: "{{ wm_base[ansible_facts['distribution']]['services'] }}"
