---

- name: "Install lxd package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ lxd[ansible_facts['distribution']]['packages'] }}"
    services: "{{ lxd[ansible_facts['distribution']]['services'] }}"


- name: 'Add users to lxd group'
  user:
    name: '{{ username }}'
    groups: 'lxd'
    append: 'yes'
  become: true
