---

- name: "Install apps package group"
  include_role:
    name: common/install
  vars:
    packages: "{{ apps[ansible_facts['distribution']]['packages'] }}"
    aur_packages: "{{ apps[ansible_facts['distribution']]['aur_packages'] }}"
